<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- 密钥 -->
    <add key="AccessKey" value=""/>
    <add key="SecretKey" value=""/>

    <!-- 空间名 -->
    <add key="Bucket" value=""/>

    <!-- 域名 -->
    <add key="Domain" value=""/>

    <!-- 是否为私有空间 -->
    <add key="Private" value="false"/>

    <!-- 资源前缀 -->
    <add key="Prefix" value=""/>

    <!-- 保存路径 -->
    <add key="SaveAs" value=""/>

    <!-- 覆盖本地文件（如果下载中断，关闭这个选项后重新下载，可避免流量浪费） -->
    <add key="OverWrite" value="true"/>

  </appSettings>
</configuration>
